.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.preload img {
  max-height: 70px;
  animation: logo 1s ease infinite alternate;
}

@keyframes logo {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(25px);
  }
}

.preload h3 {
  position: absolute;
  top: 60%;
  color: whitesmoke;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

body,
button,
input,
select,
textarea,
label {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitle {
  font-weight: 300;
}

.title {
  font-family: "Montserrat", "Roboto", Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-weight: 300;
}

/* .wrapper {
  min-height: 100% !important;
  height: auto !important;
} */

.navbar.is-light {
  background-color: #f5f5f5;
  color: #363636;
  box-shadow: -12px -8px 20px grey;
}

.navbar-brand {
  padding-left: 4%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: whitesmoke;
}

.navbar-brand img {
  max-height: 70px;
}

.navbar-end {
  margin-right: 4%;
}

.navbar-menu {
  background-color: whitesmoke;
}

.navbar-menu .navbar-item {
  background-color: whitesmoke;
}

.navbar.is-light .navbar-end>a.navbar-item:hover {
  background-color: #d47427 !important;
  color: white !important;
}

/* .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(241, 108, 0, 0.1);
} */

/* .carousel-cell {
  min-width: 100%;
  max-height: 90vh;
}

.carousel-cell img {
  min-width: 100%;
  min-height: 90vh;
  object-fit: cover;
}

.main-carousel {
  max-height: 90vh;
  margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
  .carousel-cell {
    min-width: 100%;
    max-height: 37vh;
  }

  .carousel-cell img {
    min-width: 100%;
    min-height: 37vh;
  }

  .main-carousel {
    max-height: 37vh;
  }
} */
/* 
.carousel-cell.project {
  min-width: 100%;
  max-height: 73vh;
}

.carousel-cell.project img {
  min-width: 100%;
  min-height: 73vh;
  height: 73vh;
  object-fit: cover;
}

.main-carousel.project {
  max-height: 73vh;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .carousel-cell.project {
    min-width: 100%;
    max-height: 40vh;
  }

  .carousel-cell.project img {
    min-width: 100%;
    min-height: 40vh;
    height: 40vh;
  }

  .main-carousel.project {
    max-height: 40vh;
  }
}

.flickity-page-dots {
  display: none;
} */

.hero.is-medium .hero-body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero-body {
  background-color: transparent;
  /* padding: 20px 24px; */
}

.bg-img {
  background: linear-gradient(rgba(245, 245, 245, 0.267), rgba(245, 245, 245, 0.267)), url(../img/triangle-mosaic.png);
  background-repeat: repeat;
  background-color: whitesmoke;
}

.hero.is-dark {
  background: linear-gradient(rgba(71, 69, 69, 0.74), rgba(68, 67, 67, 0.733)), url(../img/triangle-mosaic.png);
  background-repeat: repeat;
  background-color: #4a4a4a;
}

/* .pagetitle {
  /* background-color: gray; */
/* background: rgb(240, 108, 0);
  background: radial-gradient(circle, rgba(240, 108, 0, 0.7010154403558299) 0%, rgba(245, 245, 245, 1) 95%);
  width: 100%;
  padding: 1%;
  margin-bottom: 2vh;

} */

.pagetitle h1,
.title {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 500;
  color: #363636;
  border-bottom: 5px solid #d47427;
  padding: 1% 1% 0.5% 1%;
  margin-bottom: 1%;
  text-align: center !important;
}

.tile.is-child {
  height: 90%;
  min-width: 100%;
  max-width: 100%;
}

.tile.is-child.box {
  padding: 0;
  position: relative;
  line-height: 0;
}

.tile.is-child.box img {
  /* object-fit: cover; enlarges images too much */
  height: 100%;
  width: 100%;
  border-radius: 6px;
}


.tile.is-child.box .imghover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(241, 108, 0, 0.664);
}

.tile.is-child.box:hover .imghover {
  opacity: 1;
}

.tile.is-child.box .subtitle {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.tile.is-child.projects {
  min-height: 100%;
  min-width: 100%;
}

.tile.is-child.box.projects {
  padding: 0;
  position: relative;
  line-height: 0;
}

.tile.is-child.box.projects img {
  min-height: 400px;
  /* width: 650px; */
  width: 100%;
  border-radius: 6px;
}

#testimonials .column {
  box-shadow: 1px 2px 30px -10px gray;
  border-radius: 6px;
  margin: 2%;
  padding: 2%;
  padding-top: 4%;
}

/* .columns {
  margin-bottom: 0 !important;
}

.column {
  padding: 0;
} */

/* .details {
  width: 100%;
  display: inline-block;
  font-size: 24px !important;
  padding: 0;
} */

/* .details .tag {
  margin: 0;
  min-width: 200px;
  display: inline-block;
  font-size: 1em;
  padding: 0;
  background-color: transparent;
}

.details .text {
  color: #d47427;
  font-weight: 400;
}

.details .text a {
  color: #d47427;
}

@media screen and (max-width: 670px) {
  .container .details .tag {
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 20px;
  }
} */

.svg-inline--fa {
  margin-right: 2%;
  color: #d47427;
}

/* .field .label,
form .subtitle {
  font-weight: 400;
} */

.input:focus,
.input:hover,
.textarea:focus,
.textarea:hover {
  border-color: #d47427;
  box-shadow: 0 0 0 0.125em rgba(241, 108, 0, 0.664);
  ;
}

.input.subtitle {
  color: #282828 !important;
}

#mapid {
  height: 300px;
  z-index: 1;
}

.button {
  background-color: #d47427;
  color: whitesmoke;
}

.button:hover,
.button.is-hovered {
  background-color: #d47427;
  color: whitesmoke;
}

.column .notification {
  background-color: white;
}

.column .notification p {
  color: #d47427;
}

.footer-project {
  background-color: whitesmoke;
  color: #363636;
  padding-bottom: 2%;
}

.footer-project a {
  color: #363636;
}

.footer {
  background-color: whitesmoke;
  color: #363636;
  padding-bottom: 2%;
  margin-top: 10vh;
}

.footer a {
  color: #363636;
}

.slideanim {
  visibility: hidden;
  visibility: visible\9;
  /*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  animation: slide 0.25s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container .title:hover {
  color: #d47427;
}

#testimonials a {
  color: #4a4a4a;
}

:target::before {
  content: '';
  display: block;
  height: 8rem;
  margin-top: -8rem;
}